<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "February App", '/', id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "About",    about_path %></li>
					<li><%= link_to "Help",     help_path %></li>
					<li><%= link_to "Секацкий", sekackiy_path  %></li>
					<li><%= link_to "Алиев",    hasay_aliev_path  %></li>
					<li><%= link_to "Покрасс",  pokrass_path %></li>
					<li><%= link_to "Гегель",   gegel_path %></li>
					<li><%= link_to "Поток",    flow_path %></li>
					<li><%= link_to "Головин",  golovin_path  %></li>
					<li><%= link_to "Red",      red_univer_path %></li>
					<li><%= link_to "Собакин",  sobakin_path %></li>
					<li><%= link_to "Бурлан",   burlan_path %></li>
					<li><%= link_to "Sign in", '#' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>